body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3 ease-in-out;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ff6347;
}

.hero {
    background: url('/assets/img/background.jpeg') no-repeat center center/cover;
    color: white;
    padding: 5rem 1rem;
    text-align: center;
    margin-top: 4rem; 
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.featured-video {
    margin-top: 2rem;
}

.products {
    padding: 2rem;
    text-align: center;
    animation: slideIn 1s ease-in-out;
    background-image: url('/assets/img/360_F_261204444_2NnFQZ3S8AX0jcLlQQxRa75yj9WGxmGp.jpg');
}

@keyframes slideIn {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.product {
    display: inline-block;
    margin: 1rem;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
}

.buy-now {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}
.buy-now:hover {
    background-color: #ff4500;
}

.about {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.contact {
    padding: 2rem;
    background-color: #e2e2e2;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.contact form {
    display: inline-block;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.contact label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact button:hover {
    background-color: #ff4500;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: static;
    width: 100%;
    bottom: 0;
}